body, html{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x:hidden;
    height:100%;
}
.wrapper{
    /*min-height:100%;
    height: auto !important;
    height: 100%;*/
    margin: 0 auto -6em;
}
.respImg{
    max-width:100%;
    height:auto;
}
.header{
    padding: 5px;
    background-color: #fff;
    height: 65px;
}
.logo{
    display:inline-block;
   /* padding:10px;*/
    max-width:100%;
    margin-top:7px;
}
.menu{
    display:inline-block;
    float:right;
    padding-right:10px;
    /*padding:5px;*/
    /*margin:10px;*/
}
.menu ul{
    display: inline-block;
    padding: 2px;
}
.menu ul li{
    display: inline-block;
    padding: 2px;
    color: #323232;
    margin-left:20px;
}
.menu ul li a{
    text-decoration:none;
    color:#323232;
}
.menu ul li a:hover{
    color:#50a4eb;
}
.infoBox{
    padding:10px;
    background-color:#50a4eb;
    position:relative;
    /*width:100%;*/
}
.infoBox h1{
    color:#fff;
    font-size:2em;
    font-weight:bold;
}
.infoBox p{
    padding: 2px;
    color:#fff;
    font-size:0.75em;
    font-weight:normal;
    width: 65em;
}
a.close{
    float:right;
    color:#fff;
    font-weight:bold;
    margin-top:-3px;
    margin-right:3px;
    padding:0;
    color:#fff;
    font-size:1em;
    font-weight:bold;
    width:2em;
}
a.close:before{
    content:"x";
}
a.close:hover{
    cursor:pointer;
    color:#555;
}
.mapCon{
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
    height:100%;
}
.mapLeftCon{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color:#F0F0F0;
    display:inline-block;
    width:50%;
    float:left;
    left:0px;
    /*position:absolute;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mapLeft{
    background-color:#B3D1FF;
}
.mapRightCon{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color:#F0F0F0;
    width:50%;
    display:inline-block;
    right: 0px;
    /*position:absolute;*/
    border-left:1px #555 solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mapRight{
    background-color:#B3D1FF;
    padding-bottom:1px;
}
.controlBox{
    /*background-color:#888;*/
    background-color:#fff;
    padding:20px;
    /*opacity:0.3;*/
}
.controlBox ul{
    display:inline-block;
    padding:2px;
    width:100%;
    text-align:center;
}
.controlBox ul:hover{
}
.controlBox ul li{
    display:inline-block;
    /*background-color:#bbb;*/
    padding:5px;
    margin: 0 auto;
}
.controlBox ul li.active{
}
.controlBox ul li a{
    text-decoration:none;
}
.controlBox ul li:hover{
}
.controlBox ul li a:hover{
}
.controlButtons{
    position:relative;
    /*display:inline-block;*/
}
.selectBox{
    padding:5px;
    text-align:center;
    position:relative;
}
.legend{
    background: #2b83ba; /* Old browsers */
    background: -moz-linear-gradient(left, #2b83ba 0%, #60a2b4 18%, #cae0aa 33%, #ffffa5 50%, #f5c582 67%, #fdae61 82%, #d7191c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2b83ba), color-stop(18%,#60a2b4), color-stop(33%,#cae0aa), color-stop(50%,#ffffa5), color-stop(67%,#f5c582), color-stop(82%,#fdae61), color-stop(100%,#d7191c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #2b83ba 0%,#60a2b4 18%,#cae0aa 33%,#ffffa5 50%,#f5c582 67%,#fdae61 82%,#d7191c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #2b83ba 0%,#60a2b4 18%,#cae0aa 33%,#ffffa5 50%,#f5c582 67%,#fdae61 82%,#d7191c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #2b83ba 0%,#60a2b4 18%,#cae0aa 33%,#ffffa5 50%,#f5c582 67%,#fdae61 82%,#d7191c 100%); /* IE10+ */
    background: linear-gradient(to right, #2b83ba 0%,#60a2b4 18%,#cae0aa 33%,#ffffa5 50%,#f5c582 67%,#fdae61 82%,#d7191c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b83ba', endColorstr='#d7191c',GradientType=1 ); /* IE6-9 */

    width:100%;
    height:50px;
}
.least{
    color:#fff;
    margin-left:25px;
    /*padding:5px;*/
    display:inline-block;
    padding-top:16px;
}
.most{
    color:#fff;
    /*padding:5px;*/
    margin-right:25px;
    display:inline-block;
    float:right;
    position:relative;
    padding-top:16px;
}
.clear{
    clear:both;
}
.footer{
    background: #fff; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #6f9dce 10%, #2b83ba 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#6f9dce), color-stop(100%,#2b83ba)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #6f9dce 10%,#2b83ba 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #6f9dce 10%,#2b83ba 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #6f9dce 10%,#2b83ba 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #6f9dce 10%,#2b83ba 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f9dce', endColorstr='#2b83ba',GradientType=0 ); /* IE6-9 */
    /*background-color:#2b83ba;*/
    color:#000;
    padding:10px;
    height:6em;
}
.footer ul li{
    display:inline-block;
}
.push{
    height:6em;
}
.clear{
    clear:both;
}
.formCon{
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
    /*height:100%;*/
    text-align:center;
}
.formCon form{
    background-color:#ccc;
    width:100%;
    padding:5px;
    padding-top:20px;
    padding-bottom:20px;
    margin:0 0 0 0;
}
#manageCon form{
    padding:0 0 0 0;
    background-color:#fff;
}
.formCon h3{
    background-color:#2b83ba;
    padding:10px;
    color:#fff;
    margin:0 0 0 0;
}
@-webkit-keyframes animation {
    0%      {background-color:#87C540;}
    50.0%   {background-color:#5AA57B;}
    100.0%  {background-color:#2b83ba;}
}
@keyframes animation {
    0%      {background-color:#87C540;}
    50.0%   {background-color:#5AA57B;}
    100.0%  {background-color:#2b83ba;}
}
@-moz-keyframes animation {
    0%      {background-color:#87C540;}
    50.0%   {background-color:#5AA57B;}
    100.0%  {background-color:#2b83ba;}
}
#manageTab{
    width:100%;
    padding:0 0 0 0;
    margin:0 0 0 0;
}
#manageTab td{
    padding:5px;
    text-align:center;
}
#manageTab tr:nth-child(even){
    background-color:#ccc;
}
#manageTab th{
    background-color:#2b83ba;
    padding:5px;
    color:#fff;
}
#manageMapTab{
    width:100%;
    padding:0 0 0 0;
    margin:0 0 0 0;
    /*height:100%;*/
}
#manageMapTab td{
    padding:5px;
    text-align:center;
}
#manageMapTab tr:nth-child(even){
    background-color:#ccc;
}
#manageMapTab th{
    background-color:#2b83ba;
    padding:5px;
    color:#fff;
}
.manageHead:before{
    content:"Manage Datasets";
}
a h3.manageHead{
    text-decoration:none;
    text-decoration-style:none;
}
.uploadHead:before{
    content:"Upload New Datasets";
}
#manageMapTab tbody {
    width:100%;
    overflow:auto;
}
.shadow{
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
    /*filter: url(#drop-shadow);*/
    -webkit-filter: drop-shadow(0px 0px 10px rgba(46,56,71,0.2));
    filter: drop-shadow(0px 0px 10px rgba(46,56,71,0.2));
}
.pager {
    text-align: center;
    margin: 1em 0;
}
.pager span{
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height:1.8em;
    text-align: center;
    cursor: pointer;
    background: #2b83ba;
    color: #fff;
    margin-right: 0.5em;
    padding-top:5px;
}
.pager span.active{
    background-color: #154766;
}
.pager span:hover{
    background-color:#66B3E2;
}
.login{
    /*background-color:#D1D1D1;*/
    padding:50px;
    /*filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";*/
    /*filter: url(#drop-shadow);*/
    /*-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));*/
    border-radius:4px;
    border:1px #b0b0b0 solid;
    margin:0 auto;
    width:30%;
    /*text-align:center;*/
}
.loginCon{
    /*background-color:#ccc;*/
    padding:30px;
    width:100%;
}
.contentCon{
    width: 60%;
margin: 0px auto;
text-indent: 30px;
line-height: 1.5;
font-size: 1.1em;
}
